@import '../../../config.scss';

.dialog {
    position: fixed;
    z-index: 9999;
    padding-top: 180px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    // border: 1px solid #888;
    // width: 30%;
    text-align: center;
}

.fa_success {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: $button-primary;
    color: #ffffff;
    line-height: 1.5;
    font-size: 20px;
    border-radius: 50%;
}

.fa_failure {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: $danger-color;
    color: #ffffff;
    line-height: 1.5;
    font-size: 20px;
    border-radius: 50%;
}
.fa_info {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: $info-color;
    color: #ffffff;
    line-height: 1.5;
    font-size: 20px;
    border-radius: 50%;
}
.fa_warning {
    padding: 10px;
    width: 50px;
    height: 50px;
    background: $warning-color;
    color: #ffffff;
    line-height: 1.5;
    font-size: 20px;
    border-radius: 50%;
}



.dialog-body {
    position: relative;
    max-height: 65vh;
    padding: 0px;
    overflow-y: auto;
    margin-top: 15px;

  }
  .dialog-title
  {
    display: block;
      margin: 0;
      padding: 16px 0;
      font-size: 25px;
      font-weight: 500;
  }

  .dialog-title .close {
    position: absolute;
    top: 21px;
    right: 16px;
    display: inline-block;
    width: 18px;
    height: 20px;
    overflow: hidden;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    outline: 0;
    opacity: .8;
    font-size: 15px;
    z-index: 1;
    box-shadow: none;
    margin: 0;
    top: 6px !important;
    right: 7px !important;
    color: #c1c1c1;
  }
  .dialog-header {
    // background: #006287;
    // color: #fff;
    font-size: 25px;
    line-height: 1.1;
    font-weight: 500;
    /* padding: 0 48px 0 16px; */
    border-bottom: 1px solid #e5e5e5;
    word-wrap: break-word;
    margin-left: 0px;
    /* margin-right: 27px; */
    position: relative;
    width: 100%;
    // top: -20px;
  }
  .dialog-footer
  {
    display: block;
      padding: 10px;
      text-align: right;
      border-top: 1px solid rgba(0,0,0,.12);
      width: 100%;
    margin-left: 0px;
  }
  .container_ID
{
  max-width: 28% !important;
}

@media only screen and (max-width: 600px) {
.container{
  max-width: 60% !important;
}
}