<div id="errorDialog" class="dialog">

<div [ngClass]="checkMinSize()?'container container_ID':'container'" style="background: white;padding-left:0px;padding-right:0px;padding-bottom: 25px;max-width: 35%;border-radius: 5px;">
  <div class="dialog-header">
    <span class="dialog-title" style="text-align: center;">  Message
      <i (click)="hideDialog();" class="fa fa-times close">×</i>

    </span>
  </div>
  <div class="dialog-body">
   <!-- dialog content -->
    <div class="dialog-content animated fadeInUp">
      <i class="fa fa-check fa_success" *ngIf="dialogData.type == 'Success'"></i>
      <i class="fa fa-times fa_failure" *ngIf="dialogData.type == 'Failure'"></i>
      <i class="fa fa-info fa_info" *ngIf="dialogData.type == 'Info'"></i>
      <i class="fa fa-exclamation fa_warning" *ngIf="dialogData.type == 'Warning'"></i>

      <div>
        <p>{{message}}</p>
      </div>
    </div>
  </div>

  <div class="dialog-footer" style="text-align: center;">
        <button class="button" (click)="hideDialog()">Close</button>
  </div>
</div>


</div>
